# edge==0.4.2-dev
https://segmind-data.s3.ap-south-1.amazonaws.com/edge/dist/edge-0.4.0/edge-0.4.0.dev0-cp36-cp36m-linux_x86_64.whl

# Jupyter metapackage. Install all the Jupyter components in one go.
jupyter==1.0.0

# mlflow_lite==0.0.1-dev
https://segmind-data.s3.ap-south-1.amazonaws.com/edge/dist/mlflowlite/mlflow_lite-0.0.1.dev0-py3-none-any.whl

# TensorFlow is an open source machine learning framework for everyone.
tensorflow==1.15

